@keyframes brainBeat {
  0% { transform: translate(-50%,-50%) scale(1);}
  7% { transform: translate(-50%,-50%) scale(1.15);}
  14% { transform: translate(-50%,-50%) scale(1);}
  21% { transform: translate(-50%,-50%) scale(1.15);}
  28% { transform: translate(-50%,-50%) scale(1);}
}

@keyframes fadeInDiagramList {
	0% {transform: translateY(-50%); opacity: 0;}
	100% {transform: translateY(0%); opacity: 1;}
}

@keyframes fadeOutDiagramList {
	0% {transform: translateY(0%); opacity: 1;}
	100% {transform: translateY(50%); opacity: 0;}
}